* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */
.font-open-sense {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.logo h2 {
    font-size: 45px;
    font-weight: 900;
}
.color-orrange {
    color: #FF7A00;
}
.btn {
    background-color: rgb(255, 149, 0);
    color: white;
    border-radius: 5px;
    border: none;
    padding: 18px 45px;
    cursor: pointer;
}
.section-heading {
    max-width: 827px;
    text-align: center;

}
.section-heading h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 30px;
}
.section-heading p {
    font-size: 20px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}
.about-info {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 50px;
}
.info-card p {
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}
.info-card h4 {
    font-size: 20px;
}








/* main style */
header {
    background:url(../images/developer.png) , url(../images/header_bg.png);
    background-position: top left , bottom right;
    background-repeat: no-repeat;
    background-color: #FFF8F3;
    padding-top: 50px;
}
nav {
    width: 71%;
    max-width: 1140px;
    /* border: 2px solid #000;     */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}
nav .menu {
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;

}
nav .menu li a {
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}

.banner {
    /* border: 1px solid red; */
    margin: 47px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner .banner-content h2 {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;

}
.banner .banner-content h1 {
    font-size: 55px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
.banner .banner-content p {
    font-size: 20px;
    color: #474747;
    line-height: 30px;
    width: 585px;
    margin-bottom: 30px;
}

.barrer .banner-image img {
    width: 580px;
    vertical-align: middle;
}
#about {
    padding-top: 130px;
}
.about-container {
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 157px;
}



